#picture {
    width: 150px;
    height: 150px;
}

@media (max-width: 767px) {
    #picture {
        width: 100%;
        height: 100%;
    }
}

#my-description {
    padding: 0 15px;
    text-align: justify;
}

#technologies i {
    cursor: pointer;
}

#technologies i:hover {
    color: #bcd42a;
}

.underline {
    border: 2px solid #ddff00;
    width: 150px; 
}

.technology {
    font-size: 2rem;
    color: black;
}

.technology:hover {
    color: #bcd42a;
}
